Repository simelation/simhub-plugins: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet dotnet-format -f --include, clang-format --style=file -i

feat: added speed and rpm segment displays.
  packages/simhub-sli-plugin/README.md
  packages/simhub-sli-plugin/SimElation.SimHub.SliPlugin.csproj
  packages/simhub-sli-plugin/src/ManagedDevice.cs
  packages/simhub-sli-plugin/src/SegmentDisplays/Formatters/IOutputFormatters.cs
  packages/simhub-sli-plugin/src/SegmentDisplays/Formatters/SliF1OutputFormatters.cs
  packages/simhub-sli-plugin/src/SegmentDisplays/Formatters/SliProOutputFormatters.cs
  packages/simhub-sli-plugin/src/SegmentDisplays/RpmSegmentDisplay.cs
  packages/simhub-sli-plugin/src/SegmentDisplays/SpeedSegmentDisplay.cs
Due: prettier --write, dotnet dotnet-format -f --include

chore: publish.
  packages/simhub-sli-plugin/CHANGELOG.md
  packages/simhub-sli-plugin/Properties/AssemblyInfo.cs
  packages/simhub-sli-plugin/package.json
Due: prettier --write, dotnet dotnet-format -f --include

fix: wrong help url.
  packages/simhub-sli-plugin/src/Controls/SliPluginControl.xaml.cs
Due: dotnet dotnet-format -f --include

build: removed obsolete InputManager reference.
  packages/simhub-sli-plugin/SimElation.SimHub.SliPlugin.csproj
Due: none

chore: package updates.
  .config/dotnet-tools.json
  package.json
  yarn.lock
Due: prettier --write

refactor(simhub-sli-plugin): version SimHub 7.4.13 removed "minimum rpm value", so added replacement config in the plugin.
  packages/simhub-sli-plugin/README.md
  packages/simhub-sli-plugin/SimElation.SimHub.SliPlugin.sln
  packages/simhub-sli-plugin/src/Controls/DeviceInstanceControl.xaml
  packages/simhub-sli-plugin/src/DeviceInstance.cs
  packages/simhub-sli-plugin/src/ManagedDevice.cs
Due: prettier --write, dotnet dotnet-format -f --include

chore: updated README.
  packages/simhub-sli-plugin/README.md
  packages/simhub-sli-plugin/package.json
Due: prettier --write

chore: package updates.
  package.json
  yarn.lock
Due: prettier --write

build(simhub-sli-plugin): bumped to .net 4.8 for SimHub 8.
  packages/simhub-sli-plugin/README.md
  packages/simhub-sli-plugin/SimElation.SimHub.SliPlugin.csproj
Due: prettier --write

test(simhub-sli-plugin): added some logging to track down missing serial numbers.
  packages/simhub-sli-plugin/src/Devices/DevicePoller.cs
Due: dotnet dotnet-format -f --include

feat(simhub-sli-plugin): bumped to .net 4.8 for SimHub 8.
  packages/simhub-sli-plugin/README.md
  packages/simhub-sli-plugin/SimElation.SimHub.SliPlugin.csproj
Due: prettier --write

fix(simhub-sli-plugin): ignore polled devices that the serial number can't be retrieved from.
  packages/simhub-sli-plugin/src/Devices/DevicePoller.cs
Due: dotnet dotnet-format -f --include

build: don't use lerna publish to generate packages.
  package.json
Due: prettier --write

fix(simhub-sli-plugin): added external WpfAutoGrid dependency.
  packages/simhub-sli-plugin/README.md
  packages/simhub-sli-plugin/SimElation.SimHub.SliPlugin.csproj
  packages/simhub-sli-plugin/package.json
  packages/simhub-sli-plugin/packages.config
Due: prettier --write

fix(simhub-sli-plugin): properly save status led expressions.
  packages/simhub-sli-plugin/src/DeviceInstance.cs
Due: dotnet dotnet-format -f --include

fix: build fix for SimHub >= 9.2.9 (FormulaPicker -> FormulaPickerButton).
  packages/simhub-sli-plugin/src/Controls/StatusLedArray.xaml
  packages/simhub-sli-plugin/src/Led.cs
Due: dotnet dotnet-format -f --include

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md,html}
  dotnet dotnet-format -f --include: any of: *.cs
  clang-format --style=file -i: any of: *.{c,cpp,h,hpp}
